

/* panel */

.panel-wrapper > .panel{
	background-color: #0080B0;
	color: white; 
	border-color: black;
	font-size: 16px;
}

.panel_wrapper > .panel{
	border-color: #DDD;
	border-width: 10px;
	border-radius: 10px;
}

.panel-wrapper{
	padding-top: 15px;
}

.youtube{
	width: 100%;
	max-width: 100%;
	height: 400px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 15px;
}


/* page titles */
.punchline_style{
	font-family: 
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	font-size: 30px;
	padding-bottom: 3%;
	padding-top: 4%;
}

.jumbotron{
	padding-top: 0px;
}



/* about 

*/

.font_style{
	margin-left: auto;
	margin-right: auto;
	padding-bottom: 10px;
	padding-right: 5%;
	padding-top: 35px;
	font-size: 18px;
	font-family: calibri, serif;
	text-indent: 50px;
}

/* vimeo */
.iframe_style{
	width: 100%;
	max-width: 100%;
	margin-top: 25px;
	margin-bottom: 75px;
	height: 480px;
	margin-left: auto;
	margin-right: auto;
}

.video_container{

}

/* flick div image style */
.flick_style{
	width: 100%;
	max-width: 100%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 50px;
	margin-bottom: 50px;
}

.photo_container{
		
}

.photo_container > img{
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	max-width: 100%;
}

.logo_container > img{
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	max-width: 100%;
	padding-top: 15px;
	padding-bottom: 15px;
	/*border-radius: 25px;*/
}

.logo_photo{
	border-radius: 45px;
	border-width: 5px;
	border-color: 5px;
}

.table{
	border-color: black;
	border-radius: 20px;
	border-width: 20px;
	padding-left: 5%;
	padding-right: 5%;
}

/* navbar 
	to do: 	add a nav bar media query to shrink the height of buttons when device is smaller. 
			add a query to do something with the logo when the device changes sizes
			keep the logo centred in its div
			adjust the font
			change font for buttons
			style navbar colors
			style footer
*/
.NavButton > .btn {
	margin: 0 auto;
	width: 100%;
	height: 50px;
	border-radius: 0px;
	padding-top: 10px;
	padding-bottom: 0px;
	border-color: #009080;
	border-width: 1px;
	border-top: 0px;
	border-bottom: 0px;
}

.NavButtonColumn > .col-md-4 {
	padding-left: 0px;
	padding-right: 0px;
}

.NavStyle{
	background-color: #661100;
	color: white;
	border-width: 1px;
	border-radius: 0px;
	border-color: white;
}

.ButtonStyle{
	color: white;
	font-size: 22px;
	background-color: #661100;
	border-color: white;
	font-family: sans-serif;
	font-weight: bold;
}

.logo_style{
	font-size: 24px;
	font-family: serif;
	padding-top: 5px;
}

@media screen (min-width: 768px) {
	.navbar-header, .navbar-brand{
		float: none;
		text-align: center;
	}
}